body {
  margin: 0;
  padding: 0;
  background-color: #050505; /* Negro casi puro */
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}